.filter-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-field {
    margin: 5px;
    flex: 40%
}

.genre-field {
    margin: 5px;
    flex: 40%
}

.date-filter {
    margin: 5px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    font-size: 2em;
    padding: 1em;
    margin: 5px;
}